# ──[ Ansible ]──────────────────────────────────────────────────────────────
*.retry
*.log
.vault_pass

# ──[ Local overrides ]──────────────────────────────────────────────────────
inventories/*.local
group_vars/**/*.local.yml

# ──[ OS noise ]─────────────────────────────────────────────────────────────
.DS_Store
